html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Helvetica Neue, sans-serif;
    background: lightgray;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    height: 100%;
    background: #e1e7e8;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.grid {
    display: flex; 
    flex-wrap: wrap;
}

.grid-small {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.grid-small li {
    align-items: center;
    margin: 10px auto;
    width: 50%;
}

.grid-small li:not(:first-child) {
    align-items: center;
    margin: 10px;
    width: 100%;
}

.header-lg {
    font-size: 36px;
    font-weight: 250;
    margin: 20px;
}

.center-text {
    text-align: center;
}

.bg-light {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.highly-visible-test {
    background: yellow;
}

.btn-style {
    padding: 10px;
    letter-spacing: .15em;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    max-width: 200px;
    max-height: 45px;
    background-color: teal;
    color: white;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    min-height: 35px;
}

.btn-style:hover:enabled {
    color: teal;
    background-color: white;
}

.btn-style:disabled {
    opacity: .5;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.flex-column-item {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}


.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    border: solid 1px;
    padding: 10px;
    margin: 10px;
}

.nav li {
    margin-right: 10px;
}

li {
    list-style-type: none;
}

.reg-link {
    padding-left: 5px;
}

.center {
    margin: 0 auto;
}

.sub-container {
    width: 75%;
    margin: 0 auto;
}

.logo {
    width: 30%;
    height: auto;
}

.testArea {
    width: 50%;
}

.space-top {
    margin-top: 35px;
}

.btn {
    margin: 10px 10px;
}

.answer-circle-left {
    height: 25px;
    width: 25px;
    background: linear-gradient( 
        to right,
        rgb(90, 184, 228) 0%,
        white 60%);
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.answer-circle-right {
    height: 25px;
    width: 25px;
    background: linear-gradient( 
        to left,
        rgb(90, 184, 228) 0%,
        white 60%);
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.answer-circle-full {
    height: 25px;
    width: 25px;
    background: rgb(90, 184, 228);
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.answer-circle-empty {
    height: 25px;
    width: 25px;
    background: white;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.icon-small {
    max-height: 25px;
    max-width: 25px;
    float: left;
    margin-right: 25px;
}